<div class="scrollspy-offset" id="archive"></div>
<hr>
<div class="projects-return" ng-mouseenter="swing = 'swing-ani'" ng-mouseleave="swing = ''">
	<a href="#projects"><h3><span class="{{swing}}">&laquo;</span> Projectos</h3></a>
</div>

<br>
<div class="container" >
	<div class="project-margin"></div>
	<section class="ang-list" ng-model="archive">												
		<div class="row">
			<h1 class="project-title">Arquivo de Projectos</h1>
			<br>
		
			<div ng-repeat="project in projects">
					<div class="col-md-4">
							<div class="project-box"><h3 class="list-title">{{project.name}}</h3><a ng-href="/#!/archive/details/{{project.id}}#projects"><img type="button" ng-src="{{project.coverImage}}" class="img-responsive project-img"></a></div>						
						
					</div>
			</div>
		</div> <!-- end row -->
		<a href="#projects"><p>&laquo; Voltar</p>	</a>
	</section>
</div> <!-- end container -->
<div id="contact" class="scrollspy-offset"></div>
