<!DOCTYPE html>
<html lang="en">

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106585154-2"></script>
	<script>window.dataLayer = window.dataLayer || [];function gtag() { dataLayer.push(arguments); }gtag('js', new Date());	gtag('config', 'UA-106585154-2');	</script>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Web Archaeologist">
	<meta property="og:image" content="http://www.arqueoscallabis.pt/img/logo.png"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Arqueologia, Santarém">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<meta name="description"
		content="A ArqueoScallabis é uma empresa no ramo da Arqueologia, salvaguarda e gestão patrimonial, que nasceu da vontade de um grupo de profissionais, todos formados em Arqueologia e História pela Faculdade de Letras de Lisboa, e com um percurso consolidado na área, através dos mais diversos trabalhos, em vários pontos do País.">

	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/styles.css?v=1.5">
	<title>ArqueoScallabis</title>
</head> 	 